{% extends 'nav.html' %}

{% block content %}


{% load static %}

<head>

<!-- <style>
  .container {
    position: relative;
  }
  
  .topleft {
    position: absolute;
    top: 5px;
    left: 2px;
    font-size: 8px;
  }
  
  img { 
    width: 40%;
    height: 500px;
    opacity: 1.5;
  }
  </style> -->
  </head>
  <body> 

 <div class="offset-0 col-md-3" >
  <div class="container">
    <img src="static/images/form-img.jpg" alt="Cinque Terre" width="500" height="600">
    <div class="topleft"></div>
  </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/addrecord.css' %}">  
<title>Title</title>


<div class="offset-6 col-md-4" >
  <div class="form-group"> 
    <h2>Add Members</h2>
    <form action="{% url 'addrecord' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <label>{{ field.label_tag }}</label>
    <br>
    {{field}}
    <hr>  
    {% endfor %}

  </div> 
  <button type="submit" class="offset-6 col-md-2 btn btn-success">Add</button>
</form>
</div>



{% if message %}
    {{ message }}
{% endif %}












<!-- <form>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name">
  </div>
</div>
</form> -->

<!-- 
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form> -->

















{% endblock %}


